@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

body{
  
  color: #555555;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    line-height: 1.65em;
    background: #000 url("../img/background/about.jpg") center center fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

a:hover {
    color: #1f4d95;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #1c7ed8;
}


.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: -90px;
}

.navbar {
  text-align: center;
  overflow: visible;
  margin-bottom: 20px;
}

.navbar-inverse{
  opacity: 0.95;
}

#navbarCollapse{
  margin-right: 2%;
}

.navbar .brand {
  position: absolute;
  top: 5;
  background: url("../img/logo.png") no-repeat;
  width: 130px;
  height: 100%;
  background-size: 100%;
  text-indent: -9999px;
  display: block;
  margin: 0;
  margin-top: 10px;
  margin-left: 15px;
  padding: 0;
  position: absolute;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #fff;
  background-color: black;
}

.dropdown-menu,.dropdown-menu>li>a {
  color: #9d9d9d;
  background-color: #222222;
}


.dropdown-menu .divider {
  background-color: #080808;
}

.input-group{
  margin: 4% 0%;
}

#main{
  padding: 4% 0%;
  text-align: center;
}

#content{
  text-align: center;
}

img{
  width: auto;
  height : auto;  
  max-height: 100%;
    max-width: 100%;
    border: none; 
}

iframe{
  width: 100%;
  height : auto;  
  max-height: 100%;
    max-width: 100%;
    border: none; 
}

.title{
  color: #fff;
  margin-bottom: 4%;
}

table, tr, th, td{
  text-align: center;
}

@media (max-width: 767px){
  #main{
    padding: 8% 0%;
    text-align: center;
  }
  .title {
    padding: 2% 0%;
    font-size: 1.5em;
  }
  table, tr, th, td{
    font-size: 0.8em;
  }
}
